/* 1. In JS, shortcut button for keyboard, like- "/", "enter", "R", "P", "S" will be added soon. */
/* 2. after clicking start button, the start button should disappear / will write a text to req user to click r/p/s. */
/* 3. r/p/s/github-logo's hover button(after putting the mouse in the button) */


body {
    background-color: rgb(255, 174, 0);
    color: blue;
    
    /* TODO: "margin: 0" mandatory, so that, header & the entire page won't have any gap between them. */
    margin: 0;
    height: 100vh;
    
    /* TODO: Try not to use "display: flex" inside body element. */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: rgb(90, 45, 0);
    color: rgb(255, 240, 200);
    
    /* TODO: "width: 100%" so that, it's bg color's width will be entire the page. But, don't add margin/padding here, bcz, it will increase the width's size more. */
    width: 100%;
    height: 120px;
    /* height: auto;
    margin: 0;
    padding: 30px 200px 30px 200px; */
}

.main {
    background-color: aliceblue;
    border-radius: 20px;
    height: 650px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    
}

.counter-input {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    /* margin-right: -630px; */
    padding: 10px;
    gap: 300px;
}

.counter {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 25px;
    font-size: 20px;
    /* gap: -10px; */
    
    /* margin-right: -630px; */
    /* align-items: center; */
    /* position: absolute; */
    /* top: 10px; */
    /* right: 3300px; */
    /* margin: 10px; */
    /* padding: 10px; */
    /* right: 200px; */
}

.input-start-reload{
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

#rounds-input,
#start-button,
.restart-button {
    font-size: 20px;
}



.r-p-c-button {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.rock-btn,
.paper-btn,
.scissor-btn {
    /* background: box; */
    /* background-color: rgb(255, 174, 0); */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 32px;
    height: 100px;
    width: 100px;
}

.rock-btn {
    background-color: #ff5722; /* Orange */
    color: #FFFFFF;
}

.paper-btn {
    background-color: #556df5; /* Purple */
    color: #FFFFFF;
}

.scissor-btn {
    background-color: #673AB7; /* Amber */
    color: #FFFFFF;
}

.computer-human-message,
.win-lose,
.final {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.computer-human-message {
    display: flex;
    flex-direction: column;
}

.final {
    /* background-color: rgb(252, 194, 194);
    color: red; */
    /* height: 60px; */
    /* width: 250px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* padding: 1px; */

    /* padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}


/* ---JS Work--- */
.final.win {
    background-color: #b7f5c3;
    color: #0f7a28;
}

.final.lose {
    background-color: #f7b5b5;
    color: #a30000;
}

.final.tie {
    background-color: #c9dcff;
    color: #003d99;
}
/* ---JS Work--- */


.footer {
    /* TODO: Extra properties to see what happens in footer. */
    /* padding: 10px; */
    /* border: 20px solid #ff8800; */
    /* bottom: 0; */

    /* TODO: For footer, "align-items: end" is necessary for writing- "copyright ....." */
    display: flex;
    align-items: end;
    justify-content: center;
    
    font-size: 25px;
    gap: 20px;
    color: rgb(90, 45, 0);
    height: 120px;
}



